<!doctype html>
<html lang="ru">
<head>
<meta charset="utf-8" />
<!-- Строка ниже подгоняет ширину экрана в зависимости от устройства (планшет, телефон, бук) -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Choose coin</title>
    <script type="text/javascript" src="{{ url_for('static', path='javascript/main.js') }}">
    </script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/choose_coin.css') }}"/>
</head>
<body>
<div class="placeholder"></div>
<div class="placeholder">
<fieldset>
 <form name="form" action="" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return false">

     <select name="coin"> <!-- size="2" multiple -->
         {% for coin in coins %}
         <option value="{{ coin.name }}">{{ coin.name|capitalize }}</option>
         {% endfor %}
     </select>
     <select name="currency">
         {% for currency in currencies %}
         <option value="{{ currency.label }}">{{ currency.label|upper }}</option>
         {% endfor %}
     </select>
     <button onclick="fetchPrice()">Price</button>
     <button onclick="showAll()">Show all</button>

 </form>
</fieldset>
</div>
     </br>
<div id="divResult" class="placeholder"></div>

     
<div class="placeholder"></div>


</body>
</html>
